input {
  border-radius: 16px;
  padding: 1em;
}

.card {
  border: 1px solid black;
  border-radius: 16px;
  padding: 2em;
}

.title {
  text-align: center;
}

.btn-toggleWriter {
  position: absolute;
  top: 0;
  right: 0;
}

.section-header {
  margin-bottom: 32px;
}

.section-title {
  margin-bottom: 16px;
}
