input {
  border-radius: 16px;
  padding: 1em;
}

.card {
  border: 1px solid black;
  border-radius: 16px;
  padding: 2em;
}

.title {
  text-align: center;
}

.btn-toggleWriter {
  position: absolute;
  top: 0;
  right: 0;
}

.section-header {
  margin-bottom: 32px;
}

.section-title {
  margin-bottom: 16px;
}

.card-header {
  width: 100%;
  margin-bottom: 8px;
}

.info-container,
.info-recurring-container {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.info-container > *:not(.card-header) {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.info-recurring-container {
  flex-direction: column;
}

.info-item {
  position: relative;
}

.info-item > input {
  width: 40rem;
  display: block;
}

.info-highlighted {
  border: 1px solid black;
}

.write-info-container-btns {
  flex: 0 0 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.write-info-container-btns > button {
  padding: 0.5rem;
  width: 4rem;
  border-radius: 16px;
}

.btn-delete-info-item {
  position: absolute;
  top: 0%;
  right: 0%;
}

#input-name {
  flex-grow: 1;
  font-size: x-large;
}

input[name="durationDate"],
.display-durationDate {
  width: 10rem;
  float: right;
}
