input {
  border-radius: 16px;
  padding: 1em;
}

.card {
  border: 1px solid black;
  border-radius: 16px;
  padding: 2em;
}

.title {
  text-align: center;
}

.btn-toggleWriter {
  position: absolute;
  top: 0;
  right: 0;
}

.section-header {
  margin-bottom: 32px;
}

.section-title {
  margin-bottom: 16px;
}

.info-container {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card-header {
  width: 100%;
}

.info-container > *:not(.card-header) {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.btn-write-info-container {
  text-align: center;
  flex: 0 0 100%;
}

#input-name {
  flex-grow: 1;
  font-size: x-large;
}
