.work-exp-section {
  position: relative;
}

.work-item {
  position: relative;
  margin-bottom: 32px;
  padding: 2rem 1rem 1rem;
}

.work-item > input:not(.work-duration-date) {
  width: 40rem;
  display: block;
}

.delete-work-item {
  position: absolute;
  right: 0%;
  top: 0%;
}

.work-duration-date {
  width: 10rem;
  float: right;
}

.company {
  margin-bottom: 16px;
}

.position {
  margin-bottom: 8px;
}
